<div class="container">
  <%= simple_form_for(@formation) do |f| %>
    <%= f.input :titre %>
    <%= f.input :description%>
    <%= f.input :date%>
    <%= f.input :lieu%>
    <%= f.input :nb_pax%>
    <%= f.input :prix%>
    <%= f.input :url%>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
